[Unit]
Description=clickhouse server
Wants=network.target                                                                                             
After=network-online.target

[Service]
TimeoutStartSec=0
Restart=always
{% if cpu_affinity is defined %}
CPUAffinity={{ cpu_affinity.zone_2 }}
{% endif %}
ExecStartPre=-/usr/bin/podman stop %n
ExecStartPre=-/usr/bin/podman rm %n
ExecStart=/usr/bin/podman --cgroup-manager=cgroupfs run --rm --name %n \
  --user 0:0 \
  --network roq-network \
  --publish {{ clickhouse_config.port }}:9000 \
  --publish {{ clickhouse_config.http_port }}:8123 \
  --publish {{ clickhouse_config.metrics_port }}:8001 \
  --volume {{ directory_config.var_lib }}/clickhouse:/var/lib/clickhouse \
  --volume {{ directory_config.usr_local_etc }}/clickhouse:/etc/clickhouse-server/config.d \
  {{ docker_registry }}/{{ clickhouse_config.docker.name }}-server:{{ clickhouse_config.docker.tag }}

[Install]
WantedBy=multi-user.target
