[Unit]
Description=roq-clickhouse adapter
Wants=network-online.target                                                                                             
After=network-online.target

[Service]
{% if config.docker.use %}
TimeoutStartSec=0
ExecStart=/usr/bin/podman run --rm --name %n -i \
  --network roq-network \
  --volume {{ directory_config.var_lib }}/roq/data:/var/lib/roq/data \
  --volume {{ directory_config.usr_local_etc }}/roq-clickhouse:/usr/local/etc/roq-clickhouse \
  --env ROQ_v={{ config.logging.verbosity }} \
  {{ docker_registry }}/{{ config.docker.name }}:{{ config.version }} \
  --flagfile "/usr/local/etc/roq-clickhouse/flags.cfg"
{% else %}
User={{ roq_user }}
Group={{ roq_user }}
UMask=0000
# Restart=on-abnormal
Environment="ROQ_v={{ config.logging.verbosity }}"
ExecStart={{ directory_config.opt }}/conda/bin/roq-clickhouse \
  --flagfile "{{ directory_config.usr_local_etc }}/roq/clickhouse/flags.cfg"
{% endif %}

[Install]
WantedBy=multi-user.target
