[Unit]
Description=nginx
{% if 'trading' in groups %}
After=grafana.service prometheus.service clickhouse-server.service
Requires=grafana.service prometheus.service clickhouse-server.service
{% endif %}
{% for (name, options) in nginx_config.upstream.items() %}
After={{ options.name }}
Requires={{ options.name }}
{% endfor %}

[Service]
TimeoutStartSec=0
Restart=always
{% if cpu_affinity is defined %}
CPUAffinity={{ cpu_affinity.zone_3 }}
{% endif %}
UMask=0000
ExecReload=/usr/bin/podman kill -s HUP %n
ExecStartPre=-/usr/bin/podman stop %n
ExecStartPre=-/usr/bin/podman rm %n
ExecStartPre=+/bin/mkdir -p {{ (directory_config.run + '/roq') | roq_realpath }}
ExecStartPre=+/bin/chown {{ roq_user if roq_user is defined else ansible_user_id }}:{{ roq_user if roq_user is defined else ansible_user_id }} {{ (directory_config.run + '/roq') | roq_realpath }}
ExecStart=/usr/bin/podman --cgroup-manager=cgroupfs run --rm --name %n -i \
  --network roq-network \
  --volume {{ (directory_config.usr_local_etc + '/nginx/conf.d') | roq_realpath }}:/etc/nginx/conf.d:ro \
  --volume {{ (directory_config.var_log + '/nginx') | roq_realpath }}:/var/log/nginx \
  --volume {{ (directory_config.var_www) | roq_realpath }}:/var/www:ro \
  --volume {{ (directory_config.run + '/roq') | roq_realpath }}:/run/roq \
  {{ docker_registry }}/{{ nginx_defaults.docker.name }}:{{ nginx_defaults.docker.tag }}

[Install]
WantedBy=multi-user.target
