[Unit]
Description={{ item }} bridge stop service
After=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/echo ''

[Install]
WantedBy=multi-user.target
