[Unit]
Description=grafana
After=prometheus.service
Requires=prometheus.service

[Service]
TimeoutStartSec=0
Restart=always
{% if cpu_affinity is defined %}
CPUAffinity={{ cpu_affinity.zone_3 }}
{% endif %}
ExecStartPre=-/usr/bin/podman stop %n
ExecStartPre=-/usr/bin/podman rm %n
ExecStart=/usr/bin/podman run --rm --name %n \
  --user 0:0 \
  --network roq-network \
  --volume {{ directory_config.var_lib }}/grafana:/var/lib/grafana \
  --volume {{ directory_config.usr_local_etc }}/grafana/provisioning:/etc/grafana/provisioning \
  --env GF_SERVER_ROOT_URL=%%(protocol)s://%%(domain)s:%%(http_port)s/grafana/ \
  --env GF_SERVER_HTTP_ADDR=0.0.0.0 \
  --env GF_SERVER_HTTP_PORT={{ grafana_config.port }} \
  --env GF_DATABASE_TYPE=sqlite3 \
  --env GF_PATHS_PROVISIONING=/etc/grafana/provisioning \
  --env GF_PLUGINS_ALLOW_LOADING_UNSIGNED_PLUGINS=vertamedia-clickhouse-datasource \
  {{ docker_registry }}/{{ grafana_config.docker.name }}:{{ grafana_config.docker.tag }}

[Install]
WantedBy=multi-user.target
