[Unit]
Description=roq-{{ config.flags.name }}
Wants=network-online.target                                                                                             
After=network-online.target

[Service]
{% if config.docker.use %}
TimeoutStartSec=0
ExecStart=/usr/bin/podman run --rm --name %n -i \
  --network roq-network \
  --volume {{ directory_config.var_lib }}/roq/data:/var/lib/roq/data \
  --volume {{ directory_config.usr_local_etc }}/roq-json-bridge:/usr/local/etc/roq-json-bridge \
  --env ROQ_v={{ config.logging.verbosity }} \
  {{ docker_registry }}/{{ config.docker.name }}:{{ config.version }} \
  --flagfile "/usr/local/etc/roq-json-bridge/flags.cfg"
{% else %}
User={{ roq_user }}
Group={{ roq_user }}
UMask=0000
# Restart=on-abnormal
Environment="ROQ_v={{ config.logging.verbosity }}"
ExecStart={{ directory_config.opt }}/conda/bin/roq-json-bridge \
  --flagfile "{{ directory_config.usr_local_etc }}/roq-json-bridge/flags.cfg" \
{% if 'roq_ftx' in groups %}
  "{{ directory_config.run }}/roq/roq-ftx.sock" \
{% endif %}
{% if 'roq_bitmex' in groups %}
  "{{ directory_config.run }}/roq/roq-bitmex.sock" \
{% endif %}
{% if 'roq_deribit' in groups %}
  "{{ directory_config.run }}/roq/roq-deribit.sock"
{% endif %}
{% endif %}

[Install]
WantedBy=multi-user.target
