[Unit]
Description=redis server
Wants=network-online.target                                                                                             
After=network-online.target

[Service]
TimeoutStartSec=0
Restart=always
{% if cpu_affinity is defined %}
CPUAffinity={{ cpu_affinity.zone_3 }}
{% endif %}
ExecStartPre=-/usr/bin/podman stop %n
ExecStartPre=-/usr/bin/podman rm %n
ExecStart=/usr/bin/podman run --rm --name %n \
  --user 0:0 \
  --network roq-network \
  --volume {{ directory_config.usr_local_etc }}/redis/redis.conf:/usr/local/etc/redis/redis.conf:ro \
  --volume {{ directory_config.var_lib }}/redis:/data \
  --publish {{ redis_config.port }}:{{ redis_config.port }} \
  {{ docker_registry }}/{{ redis_config.docker.name }}:{{ redis_config.docker.tag }} \
  redis-server /usr/local/etc/redis/redis.conf

[Install]
WantedBy=multi-user.target
