[Unit]
Description={{ item }}
Wants=network.target
After=network-online.target
Conflicts={{ item }}-stop.service

[Service]
UMask=0000
User={{ roq_config.systemd.user }}
Group={{ roq_config.systemd.group }}
Environment="ROQ_v={{ roq_config.services[item].logging.verbosity }}"
ExecStartPre=+/bin/mkdir -p {{ roq_config.dirs.run }}/client
ExecStartPre=+/bin/mkdir -p {{ roq_config.dirs.run }}/service
ExecStartPre=+/bin/chown -R {{ roq_config.systemd.user }}:{{ roq_config.systemd.group }} {{ roq_config.dirs.run }}
ExecStartPre=+/bin/chmod -R 0777 {{ roq_config.dirs.run }}
ExecStart=/opt/conda/envs/deploy/bin/{{ roq_config.services[item].package }} \
  --flagfile /opt/conda/envs/deploy/share/{{ roq_config.services[item].package }}/flags/{{ roq_config.services[item].environment }}/flags.cfg,{{ roq_config.dirs.config }}/{{ item }}/flags.cfg{{ ' \\' if 'dependencies' in roq_config.services[item] else '' }}
{% if 'dependencies' in roq_config.services[item] %}
{% for name in roq_config.services[item].dependencies %}
  {{ roq_config.dirs.run }}/client/{{ name }}.sock{{ '' if loop.last else ' \\' }}
{% endfor %}
{%- endif %}
Restart={{ roq_config.systemd.restart }}

[Install]
WantedBy=multi-user.target
