[Unit]
Description={{ item }} gateway
Wants=network.target
After=network-online.target
Conflicts={{ item }}-stop.service

[Service]
UMask=0000
User={{ roq_config.user }}
Group={{ roq_config.group }}
Environment="ROQ_v={{ roq_config.gateways[item].logging.verbosity }}"
ExecStartPre=+/bin/mkdir -p /run/roq/client
ExecStartPre=+/bin/mkdir -p /run/roq/service
ExecStartPre=+/bin/chown -R {{ roq_config.user }}:{{ roq_config.group }} /run/roq
ExecStart=/opt/conda/bin/{{ roq_config.gateways[item].package }} --flagfile /opt/conda/share/{{ roq_config.gateways[item].package }}/flags/{{ roq_config.gateways[item].environment }}/flags.cfg,/usr/local/etc/roq/flags.cfg,/usr/local/etc/roq/{{ item }}/flags.cfg
Restart={{ roq_config.gateways[item].service.restart }}

[Install]
WantedBy=multi-user.target
