[Unit]
Description=roq-{{ config.flags.name }} stop
After=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/echo ''

[Install]
WantedBy=multi-user.target
