[Unit]
Description=prometheus
Wants=network.target                                                                                             
After=network-online.target

[Service]
TimeoutStartSec=0
Restart=always
{% if cpu_affinity is defined %}
CPUAffinity={{ cpu_affinity.zone_3 }}
{% endif %}
ExecStartPre=-/usr/bin/podman stop %n
ExecStartPre=-/usr/bin/podman rm %n
ExecStart=/usr/bin/podman run --rm --name %n \
  --user 0:0 \
  --network roq-network \
  --volume {{ directory_config.usr_local_etc }}/prometheus:/etc/prometheus:ro \
  --volume {{ directory_config.var_lib }}/prometheus:/var/lib/prometheus \
  {{ docker_registry }}/{{ prometheus_config.docker.name }}:{{ prometheus_config.docker.tag }} \
  --web.external-url=http://localhost/prometheus \
  --config.file=/etc/prometheus/prometheus.yml \
  --storage.tsdb.path=/var/lib/prometheus

[Install]
WantedBy=multi-user.target
